
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=yes">
    <title>TaxBotKE</title>
    <meta name="description" content="TaxBotKE" />
    <meta name="keywords" content="TaxBotKE" />
    <meta name="author" content="eric muthemba kiarie" />
    <link rel="shortcut icon" href="../favicon.ico">
    <meta name="description" content="TaxBotKE" />
    <meta name="keywords" content="TaxBotKE" />
    <meta name="abstract" content="TaxBotKE">
    <meta name="author" content="Eric Muthemba Kiarie">
    <meta name="technologies" content="HTML5, CSS3, HTML, CSS, JQUERY, Bootstrap,">
    <meta name="distribution" content="Global">
    <meta name="development" content="Eric Muthemba Kiarie">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="city" content="Nairobi">
    <meta name="country" content="Kenya">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{% static 'chatbot/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'chatbot/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'chatbot/css/chatBot.css' %}" rel="stylesheet">
    <link href="{% static 'chatbot/css/timeline.css' %}" rel="stylesheet">
    <link href="{% static 'chatbot/css/select2.min.css' %}" rel="stylesheet">

</head>
<body>
<div class="chat-screen show-chat">
    <div class="chat-header">
        <div class="chat-header-title">
           TaxBotKE
        </div>
        <div class="chat-header-option hide">
            <span class="dropdown custom-dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink1" style="will-change: transform;">
                    <a class="dropdown-item" href="javascript:void(0);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#bc32ef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                        Send Transcriptions
                    </a>
                    <a class="dropdown-item end-chat" href="javascript:void(0);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#bc32ef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
                        End Chat
                    </a>
                </div>
            </span>
        </div>
    </div>
    <div class="chat-start-form">
        <div class="row">
            <div class="col-md-12 text-center mb-2">
                <p>Hi 👋! Please fill out the form below to start filing your taxes or to check your previous tax filing status.</p>
                <label>
                    <input type="checkbox" id="agreeToTerms" required>
                    <a class="transcript-chat" href="/terms_and_conditions" target="_blank" >I agree to the Terms and Conditions and Privacy Policy</a>
                </label>


            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <select class="form-control  select2_el" id="optionSelect" onchange="showInputs()">
                    <option value="0" selected="selected">Choose an action ...</option>
                    <option value="1">File your returns (Employment income only) @ KSH. 200.00</option>
                    <option value="2">File Nil returns @ KSH. 100.00</option>
{#                    <option value="3">Get your withholding tax (WHT) certificates @ KSH. 50.00</option>#}
{#                    <option value="4">Check year due for tax filing @ KSH 15.00</option>#}
                    <option value="5">Check previous filing status @ Free</option>
                </select>
            </div>

            <div class="col-md-12 ">

                <div id="error_div" class="form-control mb-2 error_class hide">Invalid details detected.Rectify and try again.</div>
                <div class="form-group" >
                    <input autocomplete=off id="email" type="email" class="form-control hide mb-2" placeholder="Email">
                    <input autocomplete=off id="itax_pin" type="text" class="form-control hide mb-2" placeholder="KRA PIN">
                    <input autocomplete=off id="itax_password" type="text" class="form-control hide mb-2" placeholder="Itax password">
                    <input autocomplete=off id="nhif_no" type="text" class="form-control hide mb-2" placeholder="NHIF number">
                </div>
            </div>
            
            <div class="col-md-12">
                <button class="btn btn-primary btn-rounded btn-block" disabled="disabled" id="start_filing">Start Chat</button>
            </div>
           <div class="col-md-12">
               <div class="powered-by">Powered by TaxBotKE</div>
               <div class="powered-by">Support email: support@taxbotke.cm</div>
               <div class="powered-by">Phone numbers: +254728565816 or +254726215805</div>
        <div class="powered-by">
            <a href="https://www.facebook.com/profile.php?id=61559893696356" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://x.com/TaxBotKE" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/taxbotke/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.tiktok.com/@TaxBotKE" target="_blank">
                <i class="fab fa-tiktok"></i>
            </a>
        </div>
           </div>
        </div>
    </div>
    <div class="chat-body hide" id ="chat" >
{#        <div class="chat-start">Monday, 1:27 PM</div>#}
        
    </div>
    <div class="chat-input hide" id="chat_input">
        <div id="normal-input" class="hide">
            <input id="chat-input" type="text" placeholder="Type a message..." type="number">
            <div class="input-action-icon">
            <a id="send_button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg></a>
        </div>
        </div>
        <div id="button-input" class="hide col-md-12 p-2"></div>
        <div id="upload-input" class="hide col-md-12 p-2">
             <input type="file" id="fileInput" accept="application/pdf">
        </div>
        <div id="multi_upload" class="hide col-md-12 p-2">
             <input type="file" id="multiFileInput" multiple="multiple">
             <button class="btn btn-primary btn-rounded btn-block"  id="upload_multiple_files">Upload files</button>
        </div>



    </div>
    <div class="chat-session-end hide">
        <h5>This tax filing session has ended</h5>
        <p>Thank you for filing your taxes with us.</p>
        <div class="rate-me">
            <div class="rate-bubble great">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg></span>
            </div>

        </div>
    </div>
</div>

</div>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="257be86a981729866f2fa61c-|49" defer=""></script>
<script src="{% static 'chatbot/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'chatbot/js/popper.min.js' %}"></script>
<script src="{% static 'chatbot/js/bootstrap.min.js' %}"></script>
<script src="{% static 'chatbot/js/select2.min.js' %}"></script>
<script src="{% static 'chatbot/js/chatbot.js' %}"></script>

 <script>
        $(document).ready(function(){
            $(".select2_el").select2({
            });
        });
        </script>
<script>
    $(document).ready(function () {
        //Toggle fullscreen
        $(".chat-bot-icon").click(function (e) {
            $(this).children('img').toggleClass('hide');
            $(this).children('svg').toggleClass('animate');
            $('.chat-screen').toggleClass('show-chat');
        });
        $('.end-chat').click(function () {
            $('.chat-body').addClass('hide');
            $('.chat-input').addClass('hide');
            $('.chat-session-end').removeClass('hide');
            $('.chat-header-option').addClass('hide');
        });
    });

</script>
</body>

</html>